---
import type { CollectionEntry } from 'astro:content'
import CarCard from './CarCard.astro'

export interface Props {
  cars: CollectionEntry<'cars'>[]
}

const { cars } = Astro.props
---

<div class="grid">
  {cars.map((car) => <CarCard car={car} />)}
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    column-gap: 3rem;
    row-gap: 5rem;
  }
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      column-gap: 1.5rem;
      row-gap: 3.5rem;
    }
  }
  @media (max-width: 480px) {
    .grid {
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }
  }
</style>
